@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	/* background-color: #d2dbdd; */
	/* /font-family: "Josefin Sans", "Arial Narrow", Arial sans-serif; */
	font-family: "Roboto", sans-serif;
}
/* ToDo List */
::-webkit-scrollbar {
	width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
	box-shadow: inset 0 0 5px grey;
	border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: #8566aa;
	border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #8566aa;
}
.main_div {
	width: 100%;
	height: 100vh;
	background: #2ed573;
	display: flex;
	justify-content: center;
	flex-direction: row;
	align-items: center;
	text-align: center;
}

.center_div {
	width: 25%;
	height: 80vh;
	background: #f4f4f4;
	box-shadow: 5px 5px 25px -5px rgba(0, 0, 0, 0.5);
	border-radius: 15px;
}
.center_div1 {
	width: 90%;
	height: 45vh;
	overflow: auto;
}
.center_div2 {
	margin-top: 10px;
	height: 15vh;
}

span {
	color: #8566aa;
}

h1 {
	color: white;
	background: transparent;
	background-color: #8566aa;
	padding: 6px 0 2px 0;
	margin-bottom: 10px;
	text-shadow: 0 2px 2px black;
}

input {
	text-align: center;
	height: 30px;
	top: 10px;
	border: none;
	background: transparent;
	font-size: 20px;
	font-weight: 500;
	width: 60%;
	border-bottom: 2px solid #8566aa;
	outline: none;
	margin-bottom: 30px;
}

.todo_button {
	min-height: 40px;
	max-width: 40px;
	min-width: 20px !important;
	border-radius: 50% !important;
	background-color: #8566aa !important;
	color: white !important;
	margin-left: 10px !important;
	box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);
}

.footers {
	display: flex;
	justify-content: center;
	align-items: center;
}

.todo_button2 {
	min-height: 40px;
	max-width: 1000px;
	min-width: 80px !important;
	border-radius: 5px !important;
	background-color: #8566aa !important;
	color: white !important;
	box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);
}

.todo_button span {
	color: #fff !important;
}
.todo_button:hover {
	background-color: #20bf6b !important;
}

ol li {
	padding-left: 0px;
	text-align: left;
	font-size: 20px;
	font-weight: 500;
	min-height: 40px;
	display: flex;
	align-items: center;
	color: #8566aa;
	text-transform: capitalize;
}

.todo_style {
	display: flex;
	flex-direction: row;
	justify-content: left;
	align-items: center;
}

.list_style {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.todo_style .fa-times {
	width: 25px;
	height: 25px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #8566aa;
	border-radius: 50%;
	padding: 5px;
	margin: 0 15px 0 35px;
	color: aliceblue;
	box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);
}

.todo_style .fa-times2 {
	width: 25px;
	height: 25px;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 5px;
	margin: 0 15px 0 35px;
	border-radius: 5px;
	color: green;
}

.todo_style .fa-times:hover {
	background-color: crimson;
}

.todo_style .fa-times2:hover {
	background-color: green;
	color: white;
}

@media (max-width: 768px) {
	.center_hooks_div {
		width: 55%;
	}
	.center_div {
		width: 65%;
		height: 60vh;
	}
	.center_div1 {
		height: 35vh;
	}
	.todo_style .fa-times {
		margin: 0 15px 0 15px;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	button {
		margin-left: 5px;
		min-height: 40px;
		width: 40px;
		color: #fff;
		font-size: 30px;
	}
}

@media (max-width: 400px) {
	.center_div {
		width: 70%;
		height: 72vh;
	}
	.center_div1 {
		height: 40vh;
	}
}
