* {
	box-sizing: border-box;
}

body {
	margin: 0;
	background-color: #efefef;
	font-family: "Fredoka", sans-serif;
}

body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
		"Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
}

.main {
	display: flex;
	justify-content: center;
	align-items: center;
}

.MuiButton-root {
	border-radius: 50% !important;
}

.MuiSvgIcon-root {
	width: 2rem !important;
	height: 3rem !important;
}

.board {
	display: grid;
	grid-template-columns: repeat(3, 6rem);
	place-items: center;
	justify-content: center;
}

.box {
	background-color: #ffffff;
	border: none;
	border-radius: 10%;
	box-shadow: 0px 0px 8px #888888;
	width: 5rem;
	height: 5rem;
	text-align: center;
	font-size: 5em;
	font-family: "Fredoka", sans-serif;
	font-weight: bold;
	line-height: 5rem;
	margin: 0.5rem;
}

.x {
	color: rgb(255, 70, 37);
}

.o {
	color: rgb(44, 135, 255);
}

.box:hover {
	box-shadow: 0px 0px 15px #888888;
}

.reset-btn {
	border: none;
	border-radius: 0.5rem;
	background-color: rgb(0, 110, 255);
	color: white;
	font-size: 2rem;
	padding: 0.5rem 1rem;
	margin: 2rem auto;
	display: block;
}

.reset-btn:hover {
	background-color: rgb(0, 119, 255);
}

.scoreboard {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-evenly;
	width: 20rem;
	font-size: 1.5rem;
	background-color: white;
	margin: 3rem 2rem;
	box-shadow: 0px 0px 8px #888888;
	border-radius: 0.5rem;
	font-weight: bold;
}

.score {
	width: 100%;
	text-align: center;
	padding: 1rem 0rem;
}

.x-score {
	color: rgb(255, 70, 37);
	border-bottom: 5px solid rgb(255, 70, 37);
	border-radius: 0.5rem 0rem 0rem 0.5rem;
}

.o-score {
	color: rgb(44, 135, 255);
	border-bottom: 5px solid rgb(44, 135, 255);
	border-radius: 0rem 0.5rem 0.5rem 0rem;
}

.inactive {
	border-bottom: 5px solid transparent;
}
