a {
	color: #61dafb;
	text-decoration: none;
}

.active {
	color: greenyellow;
	text-decoration: none;
}

.menu_style {
	width: 100%;
	line-height: 60px;
	background-color: #20232a;
	display: flex;
	justify-content: space-around;
}

.name_style {
	color: red;
	margin-left: 20px;
}
