@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	background-color: #d2dbdd;
	font-family: "Josefin Sans", "Arial Narrow", Arial sans-serif;
}

/* React Hooks */

.main_div {
	width: 100%;
	height: 100vh;
	background: #8e44ad;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
}

h1 {
	color: white;
	background: transparent;
	text-shadow: 0 2px 2px black;
}

form {
	width: 50%;
	background: transparent;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	margin-top: 20px;
}

input {
	width: 50%;
	padding: 10px 20px;
	border: none;
	margin: 20px 0;
	outline: none;
	text-align: center;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

/* Firefox */
input[type="number"] {
	-moz-appearance: textfield;
}

button {
	line-height: 24px;
	padding: 0 20px;
	background: #9b59b6;
	color: white;
	border: 2px solid #ecf0f1;
	outline: none;
	border-radius: 5px;
	text-transform: uppercase;
	cursor: pointer;
}

/* Slot Machine and Netflix webpage */

.heading_style {
	padding: 30px 0;
	text-align: center;
	font-family: "cursive";
	text-transform: uppercase;
	font-size: 1.5rem;
	letter-spacing: px;
	font-weight: 500;
	color: #868686;
	margin-bottom: 30px;
	background-color: #fff;
}

.slothouse {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.slot_inner {
	padding: 5px;
	text-align: center;
	font-size: 9px;
}

.slotmachine {
	background-color: bisque;
	width: 22.5%;
	border: 3px solid gray;
	line-height: 30px;
	margin-top: 20px;
}

.cards {
	width: 100%;
	height: auto;
}

.card {
	margin: 6%;
	transition: all 0.4s cubic-bezier(0.175, 0.885, 0, 1);
	background-color: white;
	width: 21.25%;
	border-radius: 12px;
	box-shadow: 0px 14px 10px -7px rgba(0, 0, 0, 0.1);
	float: left;
}

.card:hover {
	box-shadow: 0px 30px 18px -8px rgba(0, 0, 0, 0.1);
	transform: scale(1.05, 1.05);
}

.card__img {
	width: 100%;
	height: 235px;
	border-top-left-radius: 12px;
	border-top-right-radius: 12px;
}

.card__info {
	background-color: #fff;
	border-bottom-left-radius: 12px;
	border-bottom-right-radius: 12px;
	padding: 16px 24px 24px 24px;
}

.card__category {
	text-transform: uppercase;
	font-size: 13px;
	letter-spacing: 2px;
	font-weight: 500;
	color: #868686;
	background-color: #fff;
}

.card__title {
	margin-top: 5px;
	margin-bottom: 10px;
	font-family: "cursive";
	background-color: white;
	text-transform: capitalize;
}

/* button {
	padding: 5px 8px;
	text-transform: uppercase;
	font-size: 13px;
	font-weight: 500;
	outline: none;
	border: 1px solid black;
	background-color: #fff;
	color: #868686;
	cursor: pointer;
} */

@media (max-width: 768px) {
	.card {
		float: none;
		margin: 5%;
		width: 90%;
	}
	.slotmachine {
		width: 60%;
	}
}
